{%extends 'HeThongHoTroLT/base_teacher.html'%}
{%block content%}
{% load static %}
{% csrf_token %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tổng quan</h1>
                        <form method="POST" action="{% url 'reload_classroom_results' %}">
                            {% csrf_token %}
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-download fa-sm text-white-50"></i> Tải lại
                            </button>
                        </form>
                    </div>

                     <!-- Content Row -->
                    <div class="row">
                        
                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                {% for classroom in classrooms %}
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Lớp {{ classroom.classroom_name }}</h6>
                                </div>
                                <div class="card-body">
                                    {% for result in classroom_results %}
                                        {% if result.classroom == classroom %}
                                            <h4 class="small font-weight-bold">Chủ đề {{ result.topic.topic_id }}: {{ result.topic.content }} <span class="float-right">{{ result.average_score }}%</span></h4>
                                            <div class="progress mb-4">
                                                {% if result.average_score <= 20 %}
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ result.average_score }}%" aria-valuenow="{{ result.average_score }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% elif result.average_score <= 40 %}
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ result.average_score }}%" aria-valuenow="{{ result.average_score }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% elif result.average_score <= 60 %}
                                                <div class="progress-bar bg-info" role="progressbar" style="width: {{ result.average_score }}%" aria-valuenow="{{ result.average_score }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% elif result.average_score <= 80 %}
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: {{ result.average_score }}%" aria-valuenow="{{ result.average_score }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% else %}
                                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.average_score }}%" aria-valuenow="{{ result.average_score }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'login'%}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}